@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --primeblue: #0f1924;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #000000
  }
} */

body {
  color: var(--white);
  background-color: var(--primeblue);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}